################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin/Demos/HelloWorld/Models/generator/generator_small.obj
