################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/VS16.0/.vs/RenderDog/v16
/Demos/HelloWorld/Build/VS16.0/HelloWorld.vcxproj.user
/Doc/光栅化演示.pptx
/EngineSDK
/Intermediate
/Output
/SoftwareRenderer/Build/VS16.0/SoftwareRenderer.vcxproj.user
/Doc/mindmap
/Bin/Demos/HelloWorld/assimp-vc142-mt.dll
/Bin/Demos/HelloWorld/assimp-vc142-mtd.dll
/Bin/Demos/HelloWorld/HelloWorld.exe
/Bin/Demos/HelloWorld/HelloWorld_d.exe
/Demos/DirectX11Demo
/RenderDog/Build/VS16.0/x64
*.dll
/Bin/Tools/ModelViewer/EngineAsset/Textures
/Bin/Tools/ModelViewer/Shaders
*.png
/Bin/Tools/ModelViewer/Models/Head
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.obj
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.mtl
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.blend
/Bin/Tools/ModelViewer/Models/nanosuit/LICENSE.txt
/Bin/Tools/ModelViewer/Models/nanosuit/helmet_diff.dds
/Bin/Demos/HelloWorld/EngineAsset/Textures
/Bin/Tools/ModelViewer/Models/Crunch
/Build/VS16.0/x64/Release/RenderDog.lib
/Build/VS16.0/x64/Release/FbxSDK.lib
/Build/VS16.0/x64/Debug/RenderDog_d.lib
/Build/VS16.0/x64/Debug/FbxSDK.lib
/Bin/Demos/HelloWorld/Models/generator/Textures/PolybumpTangent_DDN.tga
/Bin/Demos/HelloWorld/Models/generator/Generator.FBX
/Bin/Tools/ModelViewer/Models/Generator/Generator.FBX
/3rdSDK
/Bin/Tools/ModelViewer/ModelViewer_d.exe
/Bin/Tools/ModelViewer/ModelViewer.exe
/Build/VS16.0/x64/Debug
/Build/VS16.0/x64/Release
/RenderDog/Build/VS16.0/RenderDog.vcxproj.user
/Tools/ModelViewer/Build/VS16.0/ModelViewer.vcxproj.user
/Renderer/SoftwareRenderer/Build/VS16.0/SoftwareRenderer.vcxproj.user
/Renderer/D3D11Renderer/Build/VS16.0/D3D11Renderer.vcxproj.user
/Bin/Tools/ModelViewer/Models/soldier.m3d
/Bin/Demos/HelloWorld/Models
/Bin/Tools/ModelViewer/Models/Generator
/Bin/Tools/ModelViewer/EngineAsset/Shaders
/Bin/Tools/ModelViewer/UserAsset
/Bin/Tools/ModelViewer/Models/Cerberus
