################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/VS16.0/.vs/RenderDog/v16
/Demos/HelloWorld/Build/VS16.0/HelloWorld.vcxproj.user
/Doc/光栅化演示.pptx
/EngineSDK
/Intermediate
/Output
/SoftwareRenderer/Build/VS16.0/SoftwareRenderer.vcxproj.user
/Doc/mindmap
/Bin/Demos/HelloWorld/assimp-vc142-mt.dll
/Bin/Demos/HelloWorld/assimp-vc142-mtd.dll
/Bin/Demos/HelloWorld/HelloWorld.exe
/Bin/Demos/HelloWorld/HelloWorld_d.exe
/3rdSDK/Assimp/Build/VS16.0/assimp.vcxproj.user
/3rdSDK/StbImage/Build/VS16.0/StbImage.vcxproj.user
*.exe
*.idb
*.lib
*.pdb
*.user
/Demos/DirectX11Demo
/RenderDog/Build/VS16.0/x64
*.dll
/Bin/Tools/ModelViewer/EngineAsset/Textures
/Bin/Tools/ModelViewer/Shaders
*.png
/Bin/Tools/ModelViewer/Models/Head
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.obj
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.mtl
/Bin/Tools/ModelViewer/Models/nanosuit/nanosuit.blend
/Bin/Tools/ModelViewer/Models/nanosuit/LICENSE.txt
/Bin/Tools/ModelViewer/Models/nanosuit/helmet_diff.dds
